{% extends "blog/base.html" %}
{% block content %}



<div class="container">
    {% comment %} <div style="padding-bottom: 2%;">
        <a class="btn btn-primary rounded shadow" href="{% url 'post-create' %}" role="button">Add New Post</a>
        <!-- <a class="btn btn-secondary" href="{% url 'post-create' %}">Add New Post</a> -->
    </div> {% endcomment %}

    <div  class="shadow-sm p-3 mb-5 bg-white rounded" style=" margin-bottom:5px;">

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

        {% for order in orders %}
            <div class="shadow p-3 mb-5 bg-white rounded" >
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ order.user.profile.image.url }}" width="50" height="50">
                <div class="media-body">
                    <div class="article-metadata">
                    <div class="mr-2" >Username: {{ order.user.username }}</div>
                    {% comment %} <small class="text-muted">Posted on: {{ order.timestamp|date:"F d, Y" }}</small> {% endcomment %}
                    <small class="text-muted">{{ order.cart }}</small><br>
                    <small class="text-muted">Posted on: {{ order.timestamp }}</small><br>
                    <small class="text-muted">Product: {{ order.product }}</small><br>
                    <small class="text-muted">Qty: {{ order.quantity }}</small><br>
                    <small class="text-muted">Total Price: {{ order.line_total }}</small><br>
                    <small class="text-muted">Ship to: {{ order.user.address }}, {{ order.user.city }}</small><br>
                    <small class="text-muted">Status: {{ order.status }}</small><br>
                    
                    {% comment %} <small class="text-muted">Order ID: {{  }}</small><br> {% endcomment %}
                    {% comment %} <toggle >Status: {{ status }}</toggle> {% endcomment %}
                    {% comment %} <small class="text-muted">Order ID: {{ order.order_id }}</small> {% endcomment %}
                    </div>
                    
                    {% comment %} <p class="article-content">{{ post.content }}</p> {% endcomment %}
                </div>
            </article>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}
