{% extends 'blog/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<section class="main_wrapper">

{% if user.is_authenticated %}
<h3>Reporting <a href="/accounts/{{link}}/{{reported}}">{{name}}</a> ({{role}}):</h3>
<form  method="POST" action="/accounts/report/{{repotee}}/{{reported}}">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-primary rounded shadow">Submit</button>
</form>
{% else %}
<p>You must be logged in to post the comment. <a href="{% url 'login'%}">Login Here</a></p>
{% endif %}
</section>
{% endblock content%}
