{% extends "blog/base.html" %}
{% block content %}
{% if is_serviceprovider %}
<div class="container" style="padding-bottom: 7%;">
  <div class="text-center h2" style="padding-top: 2%;">
    Appointment Requests
  </div>

  <h1>
      Appointments for {{ sp_appointments.user }}
  </h1>

  {% if sp_appointments.m1 == True %}
  <h6>Appointment on Monday, 9AM to 10AM</h6>
  {% endif %}
  {% if sp_appointments.m2 == True %}
  <h6>Appointment on Monday, 11AM to 12PM</h6>
  {% endif %}
  {% if sp_appointments.m3 == True %}
  <h6>Appointment on Monday, 1PM to 2PM</h6>
  {% endif %}
  {% if sp_appointments.m4 == True %}
  <h6>Appointment on Monday, 3PM to 4PM</h6>
  {% endif %}
  {% if sp_appointments.t1 == True %}
  <h6>Appointment on Tuesday, 9AM to 10AM</h6>
  {% endif %}
  {% if sp_appointments.t2 == True %}
  <h6>Appointment on Tuesday, 11AM to 12PM</h6>
  {% endif %}
  {% if sp_appointments.t3 == True %}
  <h6>Appointment on Tuesday, 1PM to 2PM</h6>
  {% endif %}
  {% if sp_appointments.t4 == True %}
  <h6>Appointment on Tuesday, 3PM to 4PM</h6>
  {% endif %}
  {% if sp_appointments.w1 == True %}
  <h6>Appointment on Wednesday, 9AM to 10AM</h6>
  {% endif %}
  {% if sp_appointments.w2 == True %}
  <h6>Appointment on Wednesday, 11AM to 12PM</h6>
  {% endif %}
  {% if sp_appointments.w3 == True %}
  <h6>Appointment on Wednesday, 1PM to 2PM</h6>
  {% endif %}
  {% if sp_appointments.w4 == True %}
  <h6>Appointment on Wednesday, 3PM to 4PM</h6>
  {% endif %}
  {% if sp_appointments.th1 == True %}
  <h6>Appointment on Thursday, 9AM to 10AM</h6>
  {% endif %}
  {% if sp_appointments.th2 == True %}
  <h6>Appointment on Thursday, 11AM to 12PM</h6>
  {% endif %}
  {% if sp_appointments.th3 == True %}
  <h6>Appointment on Thursday, 1PM to 2PM</h6>
  {% endif %}
  {% if sp_appointments.th4 == True %}
  <h6>Appointment on Thursday, 3PM to 4PM</h6>
  {% endif %}
  {% if sp_appointments.f1 == True %}
  <h6>Appointment on Friday, 9AM to 10AM</h6>
  {% endif %}
  {% if sp_appointments.f2 == True %}
  <h6>Appointment on Friday, 11AM to 12PM</h6>
  {% endif %}
  {% if sp_appointments.f3 == True %}
  <h6>Appointment on Friday, 1PM to 2PM</h6>
  {% endif %}
  {% if sp_appointments.f4 == True %}
  <h6>Appointment on Friday, 3PM to 4PM</h6>
  {% endif %}
  

  
</div>
{%else%}
<div class="main_wrapper">
  <p>You are not a service provider.</p>
</div>
{%endif%}
{% endblock content %}