{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" width="50" height="50">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title" >{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.author == user %}
                <a class="btn btn-outline-secondary" href="{% url 'post-update' object.id %}">Update Post</a>
                <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete Post</a>
            {% endif %}

            <hr>
            <h2>Comments:</h2>
            <hr>
            <br/>
            <a href="{% url 'add_comment' pk=object.id %}">Add Comment</a>
            <br/><br/>            
            {% if not post.comments.all %}
                No comments yet... <a href="{% url 'add_comment' object.pk %}">
                Add one</a>
            {% else %}
                {% for comment in post.comments.all %}
                    <hr>
                    <strong>
                        {{ comment.name }} - 
                        {{ comment.date_added }} - 
                    </strong>
                    <br/>
                    {{ comment.body }}
                    <br/><br/>
                    <hr>

                {% endfor %}

            {% endif %}
        </div>
        


    </article>
    
{% endblock content %}
