{% extends "blog/base.html" %}             {% comment %} MAIN BLOG PAGE {% endcomment %}
{% block content %}
<div class="container">
    
<div  class="shadow-sm p-3 mb-5 bg-white rounded" style=" margin-bottom:5px;">

    <h1>Search Results</h1>
    {% if searched_post %}
        <h1>You searched for {{ searched_post }}</h1>
        <br/>
        {% for post in posts %}
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" width="50" height="50">
            <div class="media-body">
                <div class="article-metadata">
                <div class="mr-2" >{{ post.author.first_name }} {{ post.author.last_name }}</div>
                <small class="text-muted">Posted on: {{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        </div>
        {% endfor %}
    {% else %}
        <h1>You forgot to search for a post. Try Again</h1>
    {% endif %}

    

</div>
</div>
{% endblock content %}
